body{
    font-family:cursive;

    @media screen and (min-width: 1024px) {
        p{
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h1{
            font-size: 3rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h2{
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h3{
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 300;
        }
    }
    @media screen and (max-width: 768px) {
        p{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h1{
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h2{
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h3{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 300;
        }
    }

    @media screen and (max-width: 425px) {
        p{
            font-size: 0.8rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h1{
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h2{
            font-size: 1.2rem;
            line-height: 1.5;
            font-weight: 300;
        }
        h3{
            font-size: 0.8rem;
            line-height: 1.5;
            font-weight: 300;
        }
    }
}