@use '../utils/colors' as *;

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color: $font-color;
        font-size: 1rem;
        margin-bottom: 1rem;
        background-color: $color-button;
        padding: 1rem;
        border-radius: 1rem;
        width: 70vw;
        text-align: center;
        transition: .2s;
        a{
            color: $font-color;
            text-decoration: none;
            font-weight: bold;
        }
        &:hover{
            background-color: $color-secondary;
            transition: 0.5s;
            padding: 1.5rem;
            cursor: pointer;
        }
    }
}